{% extends "base.html" %}
{%block body%}
<div class="container">
<form action='/update/{{ todo.sno }}' method='POST'>
  <div class="mb-3">
    <label for="TODO" class="form-label">Edit Task Title</label>
    <input value={{todo.title}} type="text" name="title" class="form-control" id="title">
  </div>
  <div class="mb-3">
    <label for="TODO Description" class="form-label">Edit Description</label>
    <input value={{todo.desc}} type="text" name="desc" class="form-control" id="desc">
  </div>
  <button type="submit" class="btn btn-outline-dark">Edit</button>
</form>
</div>
{%endblock body%}